@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&family=Manrope:wght@400;500;600&display=swap');


   .container {
    margin: 78px 140px;

}
.title {
    font-size:64px;
    font-weight: 600;
    font-family: 'Halant', serif;
}
.input-holder {
    margin-bottom: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.text-input {
    width: 50%;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 16px;
    font-family: 'Manrope', sans-serif;
}

.select-input {
    width: 54%;
    border-radius: 4px;
    padding: 16px 0;
    font-family: 'Manrope', sans-serif;
}
label {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Halant', serif;
}
span {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.select-btn{
    width: 24px;
    height: 24px;
}
.college-select {
    width:100%;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
    font-family: 'Manrope', sans-serif;
}
.btn {
    width: 54%;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color:white;
    border-radius: 4px;
    border: none;
    background-color: #155EEF;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
}
